<ul class="list-group">
  <li class="list-group-item active"><%= get_link_type_and_size links, link_type %></li>
  <% links.each do |link| %>
    <li class="list-group-item">
      <%= "#{link.title} |" %>
      <%= link_to link.url, link.url %>
    </li>
  <% end %>
</ul>
